.product {
  position: relative;
  border-radius: .5rem;
  padding: .25rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.07);

  /* Sorgt dafuer, dass der Schatten um die Box nach dem hovern langsam verschwindet */
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition-property: all;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s;
}

.product:hover {
  /* Sorgt dafuer, dass der Schatten um die Box beim hovern langsam erscheint */
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition-property: all;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s;
  box-shadow:  0px 0px 15px 1px rgba(0,0,0,.5);
}

.product_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: .4rem;
}

.product_title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: .5rem 0;
}

.product_discription {
  font-size: .8rem;
  font-weight: lighter;
}

.spacer {
  margin: 2rem;
}

.product_price {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  font-size: 1.3rem;
  text-align: right;
  font-weight: bold;
}
